body {
    background-color: #90ee9054;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    text-align: center;
    font-family: monospace;
    background-color: #B5179E;
}

.Profile {
    padding: 1em;
}

.header-cont {
    background-color: aquamarine;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

@media (min-width:760px) {
    body {
        background-color: cornsilk;
    }

    .header-cont {
        display: flex;
    }

    .Rome-city {
        display: flex;
    }

    .Places {
        display: flex;
    }

    .Cosmetic-Place {
        padding-inline: 2.5em;
        padding-top: 0em;
        padding-left: 0em;
    }

    .img-2 {
        padding: 0em;
    }
}

.Cosmetic-Place {
    align-content: center
}

table,
th,
td {
    border: 2px solid black;
    text-align: center;
    /* width: 50%;*/
    padding: 5px;
    border-collapse: collapse;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.space {
    margin-bottom: 20px;
}

.img-2 {
    padding-right: 2em;
}