body {
    background-color: #d9ed9253;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    text-align: center;
    font-family: monospace;
    background-color: burlywood;
}

.header-cont {
    background-color: #ccd5ae;
    /*background-color: aquamarine;*/
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 3em;
    padding: 1em ;
    
}

.name{
       padding-right: 2em;
}

@media (min-width:760px) {
    body {
        background-color: cornsilk;
    }

    .header-cont {
        display: flex;
    }

    .Rome-city {
        display: flex;
    }

    .Places {
        display: flex;
    }

    .Cosmetic-Place {
        padding-inline: 2.5em;
        padding-top: 0em;
        padding-left: 0em;
    }

    .img-2 {
        padding: 0em;
    }
}

.Cosmetic-Place {
    align-content: center
}

table,
th,
td {
    border: 2px solid black;
    text-align: center;
    /* width: 50%;*/
    padding: 5px;
    border-collapse: collapse;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.space {
    margin-bottom: 20px;
}

.img-2 {
    padding-right: 2em;
}

.link{
background-color:#619b8a ;
width: 15em;
margin: 1em;
padding: 1em;
border-radius: 0.5em;
}

.link:hover{
background-color: aqua;
}